<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewBookController</servlet-name>
        <servlet-class>Controller.ReviewBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDetailController</servlet-name>
        <servlet-class>Controller.BookDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInController</servlet-name>
        <servlet-class>Controller.SignInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutController</servlet-name>
        <servlet-class>Controller.SignOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomerController</servlet-name>
        <servlet-class>Controller.AdminViewCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookController</servlet-name>
        <servlet-class>Controller.AdminViewBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBookController</servlet-name>
        <servlet-class>Controller.AdminEditBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewCategoryController</servlet-name>
        <servlet-class>Controller.AdminViewCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditCategoryController</servlet-name>
        <servlet-class>Controller.AdminEditCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewCommentController</servlet-name>
        <servlet-class>Controller.AdminViewCommentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewBookController</servlet-name>
        <url-pattern>/reviewBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDetailController</servlet-name>
        <url-pattern>/bookDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerController</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookController</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBookController</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewCategoryController</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditCategoryController</servlet-name>
        <url-pattern>/editCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewCommentController</servlet-name>
        <url-pattern>/viewComment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
